body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #B1EDE8;
    color: brown;
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #E0ACD5;
}

.cupcake2 {
    background-color: #FFADD6;
}

.cupcake3 {
    background-color: #FFCF99;
}

.blue {
    background-color: #3a86ff;
}